# ── Variables de entorno — Clínica Veterinaria API ──────────
# Copia este archivo como .env y ajusta los valores.
# En Docker Compose las variables se pasan directamente en el YML.

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=clinica_vet

# Usuarios de BD por rol
VET_DB_USER=vet_user
VET_DB_PASSWORD=vet_pass_2024

RECEP_DB_USER=recep_user
RECEP_DB_PASSWORD=recep_pass_2024

ADMIN_DB_USER=admin_user
ADMIN_DB_PASSWORD=admin_pass_2024

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Servidor Express
PORT=3000
